*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(39, 38, 54);
}
section{
    margin: 8vw;
}
#MainVue{
    margin: 0;
}
header{
    height: 10vh;
    background-color: rgb(29, 28, 28);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}
#MainVue{
    height: 50vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img{
    width: 30vw;
}

header div a{
    margin: 4px;
    color: rgb(242, 242, 242);
}

#body{
    margin: 8vw;
    display: flex;
    justify-content: space-between;
}

#body div{
    display: flex;
    margin-top: 20px;
}

.prof{
    height: 30vh;

}
.name_tag{
    font-size: 24px;
}

#body div .prof_name{
    display: flex;
    font-size: 36px;
    padding-left: 12px;
    flex-direction: column;
    line-height: 60%;
}

#body div .prof_name .name_tag{
    font-size: 16px;
}

h1 {
    font-size: 50px;
}

#mo {
    color: red;
}

h2 {
    width: 1000px;
    background-color: aquamarine;
}
h6 {
    height: 30vw;
    width: auto;
    background-repeat: no-repeat;
    background-image: url();
}

.spacer{
    height: 12px;
}