h1 {
    font-size: 50px;
}

#mo {
    color: red;
}

h2 {
    width: 1000px;
    background-color: aquamarine;
}
h6 {
    height: 30vw;
    width: auto;
    background-repeat: no-repeat;
    background-image: url(https://dic.pixiv.net/ogp?article_id=1235);
}